$padding-leftright: 0.6rem;
$padding-topbottom: 0.6rem;
$toolbar-height: 2.6rem;
$progress-knob-size: 2rem;
$loading-decorator-base-size: 5rem;
$scrollbar-size: 0.6rem;
$theme-switch-trasition: cubic-bezier(0.945, 0.02, 0.27, 0.665);
