<div class="row">
  <div class="col-md-12">
    <img class="img-responsive" style="max-width: 120px; display: block; margin: 10px auto 10px auto;" [src]="currentShit?.isSzemlelet ? 'assets/img/flame.svg' : 'assets/img/szemleletless-flame.svg'">
  </div>
</div>
<div>
  <div class="jumbotron">
    <div>
      <div style="text-align: center">
        <a class="btn btn-default btn-lg"  *ngIf="!timer" (click)="nextShit()"> És még?</a>
        <a class="btn btn-default btn-lg" *ngIf="!timer" (click)="setUpTimer()">Sorold!</a>
        <a class="btn btn-default btn-lg" *ngIf="timer" (click)="cancelTimer()">Állj!</a>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <regor-busy-monitor #busyMonitor>
          <h1 *ngIf="currentShit?.shitType == 'TXT'" style="text-align: center">{{currentShit?.shit}}</h1>
          <img *ngIf="currentShit?.shitType == 'IMG'" class="img-responsive img-rounded" style="margin: 10px auto 10px auto" src="assets/shit-pics/{{currentShit?.shit}}" [alt]="currentShit?.shit">
        </regor-busy-monitor>
      </div>
    </div>
  </div>
</div>
