@import "../globals.scss";
@import "~compass-mixins/lib/compass";

@media (min-width: 768px) {
  nav {
    &.navbar {
      &.navbar-default {
        border: 0;
        @include filter-gradient(rgba($lighter-green, 1), $background-dark, vertical);
        @include background(linear-gradient(rgba($lighter-green, 1), $background-dark));
        & .navbar-nav {
          & > li {
            & i.glyph {
              font-size: 22px;
              display: inline-block;
              vertical-align: middle;
              width: 22px;
              margin-right: 2px;
              &.small {
                font-size: 16px;
                width: 16px;
              }
            }
            & span.menu-item-text {
              vertical-align: middle;
              display: inline-block;
            }
            &.open {
              & > a {
                color: $light-green;
                &:hover {
                  color: rgba($light-green, .75);
                }
              }
            }
            & > a {
              color: $ehog-orange;
              &:hover {
                color: rgba($ehog-orange, .75);
              }
            }
          }
        }
        & .navbar-header {
          margin-right: 5px;
          & > a {
            & > img {
              margin-left: 5px;
            }
          }
          background-color: $ehog-orange;
          border-radius: 0 0 8px 8px;
        }

      }
    }
  }
}

i.ehog-glyph {
  font-size: 36px;
  line-height: 36px;
  vertical-align: middle;
  display: inline-block;
}

