a.btn {
  padding: 6px 6px;
  margin-right: 0;
  margin-left: 0;
  margin-bottom: 3px;
  span {
    &.glyph {
      vertical-align: middle;
      font-size: 24px;
      line-height: 0.8;
    }
  }
}

